[2014-12-02 18:19] commenthol opened #2 "Enable Travis CI"
Please enable Travis CI in project settings. Thanks.

[2014-12-09 17:54] garrypolley opened #4 "Question: Which repo is canonical?"
Looking at this project over here: https://github.com/tobie/ua-parser

Should I be looking at the code in this repo for the python version?  Or should I be continuing to look at the code within the other repo: https://github.com/tobie/ua-parser/tree/master/py/ua_parser

Is the plan to split the existing tobie/ua-parser into the ua-parser org with a bunch of sub repos?

I only ask so I know which p

[2014-12-17 20:32] #4 closed, assigned to nobody

[2015-01-07 14:08] garrypolley opened #5 "Released Versions?"
Are there plans to add released tags to this repo?  I'd like to add this repo as a subtree and/or submodule but there are no tags to point at, only commits on master.

[2015-01-17 22:57] freshteapot opened #6 "uap-core should be kept upto date better."
The sub-module hash for uap-core comes from November.

- Can we get an update to 'pip' with the latest regexes from 'uap-core?

For those of you who are interested. If you have ua-parser and you want to get the latest regexs. You will need to run the 'makefile' or 'python setup.py sdist'.

The reason for this, you need the 'json' files as well as the 'yaml'.
[code]
Then check 'regexes.yaml' for an

[2015-07-29 12:22] mbarkhau commented on #6
Indeed. Microsoft Edge isn't detected as it currently stands.

[2015-07-31 12:49] mattrobenolt commented on #6
:+1:

[2015-08-03 16:41] elsigh commented on #6
This is why submodules suck - you can't pin them to head. Maybe we could switch to subtree?

That said, @freshteapot : how about a PR to update uap-python to the latest commit?

[2015-08-06 17:48] dcramer opened #9 "Status of Project"
Apologies for the non-issue issue.

We use ua-parser heavily in Sentry and I'm curious about the status of 0.4.0.

Right now we're at a point where we either will be forking the old ua-parser (and possibly vendoring it), or helping push this through.

Mostly the reason for this is we need to get updated support for things like Microsoft Edge.

[2015-08-06 18:23] elsigh commented on #9
So I'm clear, are you saying the issue is that the current parser is using an old version of regexes.yaml?
Ideally, uap-python should just be using the regexes.yaml file from HEAD, and if that ever is broken it should be fixed.
This is one of those trade-offs we made when splitting up uap-core from the language implementations, and I'm totally open to ideas to solve that problem - because I agree

[2015-08-06 18:24] elsigh commented on #9
Also, do you know if the current regexes.yaml is somehow incompatible with the current version of `uap-python`? I'm not using `uap-python` these days so I just don't know.

[2015-08-06 18:24] elsigh commented on #9
See Issue #6

[2015-08-06 18:24] dcramer commented on #9
I dont know much about git subtrees, but mostly I'm asking "is a new release coming soon?"

I can look into pulling down the latest regexes. I'm not familiar with the inner workings so wasn't aware of that option. I assume that's something I can do without vendoring? i.e. I could specify it at runtime?

[2015-08-06 18:29] elsigh commented on #9
I don't know what you mean by "vendoring".

Ideally, `uap-python` and `uap-core` don't have "releases" and you can just use HEAD. I think you're just saying the same thing as #6

Can you try replacing `uap-core` with the latest version and see if it works? It's only regexes.yaml that matters from `uap-core`

[2015-08-06 18:38] dcramer commented on #9
@elsigh so we release a giant Python package which specifies lots of dependencies (which come from external sources). We can't simply use HEAD (or anything related to Git) in this situation.

Vendoring would be the equivalent of me copying the code into our repository and basically never using the upstream project again. We'd effectively have to maintain all of the code in one way or another, but

[2015-08-06 18:41] elsigh commented on #9
If #6 was solved would you be good to go?

[2015-08-06 18:42] dcramer commented on #9
It would help, but its also #5 -- actually pushing out a new release

I think being able to just update the regexes is super valuable, so ideally taht could be something that libraries allow at runtime

i.e. ua_parser.set_regex(...)

[2015-08-06 18:46] elsigh commented on #9
I think you can just point to commit hashes on master. I'm going to mark #5 as will not fix.

[2015-08-06 18:46] elsigh commented on #5
No. Just point at commit hashes on master.

[2015-08-06 18:46] #5 closed

[2015-08-06 18:47] dcramer commented on #9
No you cannot point to commit hashes. That is not a thing in the Python world.

[2015-08-06 18:51] elsigh commented on #9
Sure it is - you have a build step that does a git clone using a commit hash.. But I don't know enough about your build system - do you rely on pip releases at the moment? Otherwise what's a release?

I think pip is cool, but I don't know that anyone is currently dedicated to pushing pip releases. In the past that was done by @commenthol but while I like pip I actually don't like the dependency an

[2015-08-06 19:31] dcramer commented on #9
@elsigh unfortunately you're in the small percent that does things that way. If you cant trust my word (I've been doing Python, open source, and very active for a decade), you can simply look at the install numbers on the Python website. It's important to also note that pip != the python registry (PyPi).

We ship a standard Python app, that app versions dependencies (i.e. ua-parser >= 0.3.6), and

[2015-08-06 19:37] elsigh commented on #9
How would you feel about doing the push to pypi and becoming a contributor on `uap-python`?

[2015-08-06 19:38] dcramer commented on #9
We wouldn't be opposed to helping maintain it, though it sounds like theres some complexities you might want to sort out first.

My personal recommendation for the subtree/etc problem would be just to maintain a single repository, with each SDK being its own subpath. Seems like it'd be a lot easier, and then you could coordinate releases of all versions at the same time. Though that may make it ha

[2015-08-06 20:27] elsigh commented on #9
What are the complexities we need to sort out?

Your recommendation is actually how the project was previously structured and we finally gave in and created an org with a `uap-core` that each language version embeds. The reality is that this works better for maintenance/issues/coordination. The downside is maintenance of each individual repo.

[2015-08-06 22:11] elsigh commented on #9
But like I say, I think the project is totally open to someone who's using it in production who wants to coordinate pushing to pypi.

[2015-08-06 22:12] dcramer commented on #9
@elsigh just commenting on what you mentioned regarding submodules. I am not opposed to anything, but I am in agreement that its a PITA to maintain submodules (we have webhooks for auto commiting to repos that do this in our own projects)

[2015-08-06 22:19] elsigh commented on #9
It would be really cool if Sentry could be a maintainer of this baby.

The subtree approach looks like:
http://blogs.atlassian.com/2013/05/alternatives-to-git-submodule-git-subtree/

The downside of linking to master of uap-core is that it's a moving target, but I actually think that's how things should be and that it should be very rare that the regexes.yaml changes such that it causes a parser t

[2015-08-06 22:27] elsigh commented on #9
I actually just did this to the go implementation (which I'm currently using in production).
https://github.com/ua-parser/uap-go/commit/7485c5bea8c5a6a11bb33a0b0daa44dd8a6f683a

[2015-08-07 13:29] elsigh commented on #9
I'm going to close this as a dupe of #6. @dcramer Please let me know if you would like to push releases to pypi! =)

[2015-08-07 13:29] #9 closed

[2015-08-11 18:02] elsigh commented on #9
@dcramer any thoughts around taking over pushes?

[2015-08-11 18:30] nmische commented on #2
+1

[2015-08-11 18:38] elsigh commented on #2
I think I just now did this. Re-open if the next commit doesn't trigger a build (unless I can do that manually)

[2015-08-11 18:38] #2 closed

[2015-08-24 14:26] elsigh commented on #6
Ok, @selwin updated today to the latest uap-core.
I think it would be the best situation if this repo somehow pulled/pushed on green with HEAD at uap-core, but I don't know anyone keen to write the system to do that.

[2015-08-28 14:33] Winterflower opened #14 "Improve uap-python installation instructions"
1. On Mac OS X Yosemite
```make Makefile```
produces
```make: Nothing to be done for `Makefile'.```

2. Running
``` python setup.py install ```
seems to work, but importing the module fails with the error
[code]

[2015-08-28 14:41] pstrinkle commented on #14
This isn't a solution, but on ubuntu this is what I needed to do to get it past that:

 sudo pip uninstall pyyaml
 sudo apt-get install libyaml-0.2 libyaml-dev libpython2.7-dev
 sudo pip install pyyaml ua-parser user-agents

[2015-08-28 20:36] Winterflower commented on #14
@pstrinkle thank you for the suggestion. I'll try to see if I can hack something similar together on Yosemite.

[2015-09-03 00:39] jdalton opened #15 "MS Edge support"
Hey @elsigh!

So I got a report that [python-user-agents](https://github.com/selwin/python-user-agents) is detecting MS Edge wrong and after some digging it looks like it's using uap-python. I believe MS Edge detection was in  ua-parser but wanted to check. My python-fu is pretty weak so I'd need some assistance on that front.

[2015-09-03 00:58] elsigh commented on #15
Can you drop a MS Edge UA string in here for testing? It should be that uap-python pulls uap-core with the right regexes.. but can test that theory.

[2015-09-04 13:35] do3cc opened #16 "Release 0.4.0 is a brown bag release. regexes.yaml is missing in egg"
See also the file size on the pypi page for wheel and egg:
https://pypi.python.org/pypi/ua-parser

[2015-09-07 09:57] mbarkhau opened #18 "ua_parser.VERSION incorrect"
Shouldn't the version number in `ua_parser/__init__.py` be kept up to date?

[2015-09-07 10:08] mbarkhau commented on #18
Of course in order to push this to pypi the version number will have to be updated again...

[2015-09-09 03:32] #18 closed

[2015-09-10 17:32] jdalton commented on #15
Any news?

[2015-09-12 08:38] elsigh commented on #15
Sorry, haven't had a change to look at it..
But, someone else just filed:
https://github.com/ua-parser/uap-core/issues/78

On Thu, Sep 10, 2015 at 10:32 AM, John-David Dalton <
notifications@github.com> wrote:

[2015-09-21 16:07] mattrobenolt opened #23 "Pre-compile yaml into py file"
For context, see: https://github.com/getsentry/sentry/pull/1987

I notice this is being translated from yaml to json inside the sdist. Why not go one step further and generate the .py version instead?

tl;dr,

It takes 1.2 _seconds_ to import the module on my computer through parsing the yaml file and converting it at module import time, but 219 microseconds after it's compiled to a py file.

Befo

[2015-09-21 18:04] elsigh commented on #23
I think the problem comes from distribution.. If you can make it optional to load a py file if present and then let folks compile if they want to I'm totally onboard.

[2015-09-21 18:06] elsigh commented on #16
This sounds like a problem insofar as some package is missing uap-core. As this library doesn't distribute an egg I think nothing is actually broken that warrants fixing.

That said, clearly there is a need for a maintainer to do packaging for the various python distro channels. Know anyone? ;)

[2015-09-21 18:06] #16 closed

[2015-09-21 18:06] elsigh commented on #6
I'm going to close this issue as it's just a bump request.

[2015-09-21 18:06] #6 closed

[2015-09-21 18:07] mattrobenolt commented on #23
You mean where someone may supply their own yaml file of patterns?

[2015-09-21 18:11] elsigh commented on #23
That's how this lib works - it depends on `uap-core` which is the project that contains the regexes yaml file.

[2015-09-21 21:48] mattrobenolt commented on #23
Yeah, I understand that.

What I'm suggesting is, we're already taking this list of yaml files that come in from `uap-core`, and converting them into `json` inside `sdist`. We could take that one step further and just compile down into `py` files instead.

[2015-09-21 22:04] elsigh commented on #23
I have no objections to making things faster =)

[2015-10-11 11:09] mattrobenolt commented on #23
Step 1: #27 :)

[2015-10-14 00:32] jdalton commented on #15
The pypi package was bumped.

[2015-10-14 00:32] #15 closed

[2015-10-15 09:36] mbarkhau commented on #14
Maybe it would be better if the distributed versions didn't require pyyaml. Why not just do a conversion to json when doing sdist and bdist_wheel?

I for one cannot get 0.5.0 installed from pypi, despite using a fresh virtualenv, and installing all the apt libraries mentioned above by pstrinkle.

[2015-10-15 10:48] beruic opened #30 "Maintain history and version number consistency"
I just noticed that version 0.5.0 is available on pypi, so I went here looking for a chagelog. I cannot find one, and the code in the repository seems like it's still version 0.4.1, which is the version I currently use in my project.

I looked in uap-core and found version 0.5.0 under releases, but I was confused that there was no version 0.4.1 (only 0.4.0), and I still can't really find a good de

[2015-10-15 14:46] chrisbarry commented on #14
I'm also having the same trouble on osx..

[2015-10-15 16:26] elsigh commented on #30
No one using uap-python in a decent-size production environment has stepped up to deal with channel distribution. I'm going to close this (sorry) because it comes up a lot and it's a known issue. The reality is that github is up to date and until someone who loves the python distribution channels comes to the rescue this is likely to remain an issue.

[2015-10-15 16:26] #30 closed

[2015-10-15 16:28] elsigh commented on #14
This should just be a PR not an issue. Closing - if someone wants to make a PR with more instructions that work that's cool with me.

[2015-10-15 16:28] #14 closed

[2015-10-16 11:13] beruic commented on #30
Could you perhaps include a description about this in the README?
I can't say I fully understand the issue, but I guess the sum of it is that I will be fine upgrading?

[2015-10-17 00:50] ColtonProvias opened #31 "Fails to build in virtualenv"
Attempting to install ua-parser-0.5 on Python 3.5.0 on Mac OS X 10.11.1 and getting the following error:

[code]

[2015-10-19 12:55] beruic commented on #31
I get the same error on Windows: `Unable to find regexes.yaml`

[2015-10-19 14:27] jmagnusson commented on #31
Same problem here.

[2015-10-21 04:54] kr41 commented on #31
This https://github.com/ua-parser/uap-python/commit/7f2e72f19a3f3bcb100ac29181b6f24844025e83 fixes the issue, but why it has not been released on PyPI yet?

[2015-10-21 18:53] compwright opened #33 "ua-parser fails to parse recent Windows version numbers"
It seems ua-parser 0.5.0 does not correctly parse out the version number in later versions of Windows.

[code]

[2015-10-21 18:59] compwright commented on #33
This is actually something that would need to be resolved in the underlying uap-core library.

[2015-10-21 18:59] #33 closed

[2015-10-21 21:43] dsimandl commented on #31
Yup same here.  Would love to get this on PyPI as soon as possible

[2015-10-21 22:07] elsigh commented on #31
I don't know if anyone is super actively deploying to pypi these days for the repo. If so, my bad, but if not.. I've seen a few issues around python distribution over the last two months and would love for someone to step up and own that.

[2015-10-22 05:07] kr41 commented on #31
@elsigh could you open tickets for the issues you've seen? I'll try to solve them and send pull requests.

[2015-10-22 15:36] dsimandl commented on #31
If sdist is working then setup,py upload to PyPI should just work yes?  (Sorry I don't a lot of experience uploading projects to PyPI)

[2015-10-22 18:08] mattrobenolt commented on #31
@elsigh I wouldn't mind helping out here a bit. Let me know.

[2015-10-30 21:48] pmclanahan opened #34 "Cut a 0.5.1 release"
I need to use the changes from #28, but can't just pip install the tarball from github due to those not including the submodule. I'd really appreciate a PyPI release.

[2015-11-03 12:33] nass600 commented on #31
Any news?

[2015-11-03 15:03] bevedoni commented on #31
any news guys?

[2015-11-03 15:24] elsigh commented on #31
I think the issue is that I don't know how to push to pypi and I'm not using uap-python in production, so I have no interest in doing so - and there's not really anyone who's on it who wants to actively do so for the project.

[2015-11-03 15:25] mattrobenolt commented on #31
@elsigh I've volunteered. :)

[2015-11-03 15:25] elsigh commented on #31
Ok! I'll add you as a committer and thank you!!!

[2015-11-03 15:25] #31 closed

[2015-11-03 16:33] mattrobenolt commented on #31
@elsigh Could you add me to pypi as well plz? :)

I can get this sorted out this week.

[2015-11-03 17:32] owocki commented on #34
+1 on a 0.5.1 release.  we'd like one too!

[2015-11-03 18:15] elsigh commented on #31
@mattrobenolt I have no idea how to do that, can you tell me? I don't have a pypi account or "own" our pypi build or anything (at least I don't believe I do!)

[2015-11-03 18:17] mattrobenolt commented on #31
It appears that @selwin is the package owner on pypi.

[2015-11-03 18:40] mattrobenolt commented on #34
I'm just waiting on getting permission for pypi, and I'll happily do this. :)

[2015-11-03 19:27] pmclanahan commented on #34
Thanks a lot @mattrobenolt :cake:

[2015-11-10 09:06] nass600 commented on #31
Any update on this guys?

[2015-11-10 15:50] mattrobenolt commented on #31
I still don't have access to upload a new version. :sob:

/cc @selwin

[2015-11-10 16:05] glogiotatidis commented on #34
+1 on that. Thanks!

[2015-11-10 16:21] zaabjuda commented on #34
+1 on that. Thanks!

[2015-11-11 08:02] nass600 commented on #34
+1. Thanks for the effort

[2015-11-11 13:32] selwin commented on #31
Sorry for the late reply. Version 0.5.1 is now up on PyPI. Also submitted a PR to bump up the version number to 0.5.1 here: https://github.com/ua-parser/uap-python/pull/36

[2015-11-11 23:03] mattrobenolt commented on #34
This has been resolved.

[2015-11-11 23:03] #34 closed

[2015-12-21 02:44] cfpatrick opened #38 "Parser throwing UnicodeDecodeError on UA with Chinese characters"
Here is the User Agent header in question:

    Mozilla/5.0 (Linux; U; Android 4.4.3; zh-cn; 蝶变9999 Build/KOT49H) AppleWebKit/533.1 (KHTML, like Gecko)Version/4.0 MQQBrowser/5.4 TBS/025469 Mobile Safari/533.1 MicroMessenger/6.2.2.54_rec1912d.581 NetType/3gnet Language/zh_CN

And here is the traceback:

    File "/usr/lib/python2.7/site-packages/user_agents-1.0.1-py2.7.egg/user_agents/parsers.py",

[2015-12-22 00:42] #23 closed

[2016-01-02 21:39] destinymedia opened #40 "AWS Redshift UDF Installation"
Hi Guys,

In November 2015 AWS Redshift added Python support for User Define Functions. I am new to Python but would like to add this library to Redshift but could use some guidance as to how. This could become an alternative setup script for others. According to the following link, AWS requires the source in a zip file and added to an S3 bucket.

http://docs.aws.amazon.com/redshift/latest/dg/udf-

[2016-01-02 21:51] mattrobenolt commented on #40
I don't know anything about this, but the wheel file that gets published to pypi is a .whl file. This is literally a zip file and can be uncompressed with just `unzip`. Is that enough?

[2016-01-02 21:54] mattrobenolt commented on #40
Either way, the distributions pushed to pypi have a compiled version of uap-core included. With 0.6.x, there's an included _regexes.py file which doesn't need anything else from uap-core. So if you need to repackage, you could download either the whl or tar.gz from pypi and repackage into whatever format you need.

[2016-01-02 22:01] destinymedia commented on #40
Thank you Matt. It requires the py source files including the _regexes.py in the root of a zip file and I found files in the packages folder after installing by pip. I'll give that a go and see if that works.

[2016-01-02 22:06] mattrobenolt commented on #40
Yep, the distribution includes everything and has 0 dependencies outside of what's included.

For some context, this all happens inside our setup.py when we run sdist, etc. so you could technically build your own, but not really valuable since I publish the correct package already built. :)

I'm going to close this now unless there's something else we'd need to do.

[2016-01-02 22:06] #40 closed

[2016-01-02 22:07] mattrobenolt commented on #38
I'll look into this and see. It should be a trivial fix.

[2016-01-03 20:09] mattrobenolt commented on #38
Hmm, @cfpatrick what version of uap-python is this with?

Testing against latest (0.6.1), I can't reproduce:

[code]

[2016-01-11 21:35] dannyeuu opened #41 "parser device"
How can I parse if the device is desktop, smartphone, tv?

[2016-01-17 15:54] mattrobenolt commented on #41
I think you want the higher level [user-agents](https://pypi.python.org/pypi/user-agents) project.

[2016-01-17 15:54] #41 closed

[2016-01-17 16:01] mattrobenolt commented on #38
Closing since I can't reproduce with latest version.

[2016-01-17 16:01] #38 closed

[2016-01-29 07:55] kyanite opened #42 "version is not right in __init__.py"
now is 0.6.1, but in __init__.py is still 0.5.1

[2016-02-01 08:36] Kilte opened #43 "Unrecognised User-Agents"
## Windows Live Mail

string: `Outlook-Express/7.0 (MSIE 7.0; Windows NT 6.1; Trident/4.0; SLCC2; .NET CLR 2.0.50727; .NET CLR 3.5.30729; .NET CLR 3.0.30729; Media Center PC 6.0; TmstmpExt)`
actual: `{'family': 'IE', 'major': '7', 'minor': '0', 'patch': None}`

string: `Outlook-Express/7.0 (MSIE 7.0; Windows NT 5.1; Trident/4.0; AskTB5.6; TmstmpExt)`
actual: `{'family': 'IE', 'major': '7', 'minor'

[2016-02-01 15:26] elsigh commented on #43
Ideally, just create a pull request for `uap-core` that fixes these. In general, at this point, when people want fixes it's better to figure out how to fix them and create a pull with tests than to submit an issue (it will otherwise, most likely, never get tackled)

[2016-02-01 15:26] #43 closed

[2016-02-01 22:13] swarnava opened #44 "Add Brave browser support"
Sample Useragent: Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_2) AppleWebKit/537.36 (KHTML, like Gecko) brave/0.7.11 Chrome/47.0.2526.110 Brave/0.36.5 Safari/537.36

website: https://brave.com

[2016-02-01 22:19] mattrobenolt commented on #44
This needs to be added into `uap-core` since we just source rules from there: https://github.com/ua-parser/uap-core

[2016-02-01 22:19] #44 closed

[2016-02-03 09:03] swarnava commented on #44
https://github.com/ua-parser/uap-core/issues/128

[2016-02-09 04:52] swarnava commented on #44
can we start work now?

[2016-03-18 01:53] #42 closed

[2016-06-20 15:19] adamchainz opened #46 "Changelog?"
Upgrading from 0.4.0 to 0.7.1 I was surprised to find everything coming back in `bytes` rather than `str`, I would have found this out more easily with a changelog to read 😄

[2016-06-20 15:20] mattrobenolt commented on #46
[code]

What's the issue? `bytes` is just an alias for `str`.

[2016-06-20 15:29] adamchainz commented on #46
Only on Python 2

[code]

[2016-06-20 15:30] adamchainz commented on #46
8621957e3bca57d550cf3631d4a38930e17eed50 changed things into `bytes` afaict

[2016-06-20 15:33] mattrobenolt commented on #46
That should be unrelated. That's just for the generated `_regexes.py` file on disk, needs to be bytes. Unrelated to the output from the library.

Can you give me an example of which changed?

[2016-06-20 16:03] adamchainz commented on #46
On Python 2...

Version 0.4.0

[code]

Version 0.7.1

[code]

There is `u` prefix on `os['Family']` any more, i.e. it has gone from `unicode`/`str` to `str`/`bytes`. Actually now I look at it, this is the only example there, though I can't tell for the `None` fields. I fixed it in my application code with a blanket `if isinstance(x, str): x = x.decode('utf-8')` (application code is Python 2 despit

[2016-07-22 00:57] rickjury opened #47 "IndexError: no such group for Mozilla/5.0 (Linux; U; Android 4.1.1; en-us; Build/JRO03C) AppleWebKit/534.30 (KHTML, like Gecko) Version/4.0 Safari/534.30"
this user agent string fails to parse:
user_agent_parser.Parse('Mozilla/5.0 (Linux; U; Android 4.1.1; en-us; Build/JRO03C) AppleWebKit/534.30 (KHTML, like Gecko) Version/4.0 Safari/534.30')
Traceback (most recent call last):
  File "<interactive input>", line 1, in <module>
  File "C:\Python27\lib\site-packages\ua_parser-0.4.0-py2.7.egg\ua_parser\user_agent_parser.py", line 212, in Parse
    'devi

[2016-10-11 14:59] shaunpatterson opened #48 "Wrong Android Browser"
`Mozilla/5.0 (Linux; U; Android 2.3.5; zh-cn; HTC_IncredibleS_S710e Build/GRJ90) AppleWebKit/533.1 (KHTML, like Gecko) Version/4.0 Mobile Safari/533.1`

Returns:
`{'user_agent': {'family': 'Android', 'major': '2', 'minor': '3', 'patch': '5'}, 'device': {'family': 'HTC IncredibleS S710e', 'brand': 'HTC', 'model': 'IncredibleS S710e'}, 'os': {'family': 'Android', 'major': '2', 'patch_minor': None, '

[2016-10-31 11:39] mattrobenolt commented on #48
This still seems to be wrong according to you against the latest version. Do you mind opening this up against [ua-parser/uap-core](https://github.com/ua-parser/uap-core/issues/new)? There's nothing we can do here since we source the rules from there.

[2016-10-31 11:39] #48 closed

[2016-10-31 11:40] mattrobenolt commented on #47
I'm unable to reproduce this on the latest version 0.7.2. The version you have here (0.4.0) is pretty old. You should update.

[2016-10-31 11:40] #47 closed

[2016-12-04 19:32] sadhasivam opened #50 "Below UserAgent String returns wrong device Name"
```Mozilla/5.0 (Linux; Android 6.0.1; ATH-AL00 Build/HONORATH-AL00; wv) AppleWebKit/537.36 (KHTML, like Gecko) Version/4.0 Chrome/53.0.2785.124 Mobile Safari/537.36 JsKit/1.0 (Android) SohuNews/5.7.3 BuildCode/113```

Output:
[code]

[2016-12-04 19:47] sadhasivam commented on #50
device Family returns wrong information.
![image](https://cloud.githubusercontent.com/assets/253447/20868737/8fb492d8-ba30-11e6-9897-8a6d7b46a3b8.png)

[2017-01-24 16:52] asalant opened #51 "Process for updating uap-core?"
I'm wondering what's the process for updating `uap-python` with the latest rules from `uap-core`?It looks like @mattrobenolt usually does this - do you want update requests as an issue like this, a PR to merge?

The git submodule for `uap-core` currently points at a commit not associated with a tag in `uap-core` which suggests that we don't need to wait for a "release" from `uap-core` to update `u

[2017-01-24 17:36] mattrobenolt commented on #51
It's just a matter of bumping the submodule version and confirming that tests still pass. I can do this today. Other than that, there's no schedule or policy around doing this. I just do it when I personally want updated rules or someone bugs me. :)

[2017-01-24 17:46] asalant commented on #51
Thanks!

[2017-01-26 18:26] asalant commented on #51
Checking in this release. Thanks.

[2017-01-26 20:09] asalant commented on #51
Here's a PR if that helps: https://github.com/ua-parser/uap-python/pull/52

[2017-01-30 23:16] asalant commented on #51
Another ping on this request to release a new version. Passing PR at https://github.com/ua-parser/uap-python/pull/52.

[2017-02-02 00:43] asalant commented on #51
@mattrobenolt - calling you out by name in case you are not seeing my comments. Appreciate your help releasing this. Thanks.

[2017-02-02 01:32] mattrobenolt commented on #51
I have published 0.7.3 with latest uap-core.

[2017-02-02 01:32] #51 closed

[2017-02-02 01:34] mattrobenolt commented on #50
Going to close this here since this seems related to uap-core.

[2017-02-02 01:34] #50 closed

[2017-02-02 17:14] asalant commented on #51
Thanks!

[2017-02-02 18:12] samuelcolvin commented on #46
changelog would be very useful. I'm just doing some detective work to find out what changed on `0.7.3`...

[2017-02-02 18:42] mattrobenolt commented on #46
Generally things don't change. Mostly it's just bumping the definitions for `uap-core`.

You can always use GitHub's fancy compare view: https://github.com/ua-parser/uap-python/compare/0.7.2...0.7.3

[2017-02-03 21:14] asalant opened #54 "Update to latest uap-core"
@mattrobenolt - unfortunately I missed an issue in `uap-core` that left my fix for Pingdom bot detection incomplete. https://github.com/ua-parser/uap-python/pull/53 includes that fix. I'd appreciate another patch release of `uap-python`.

Thanks!

[2017-02-09 21:59] asalant commented on #54
@mattrobenolt another ping up this release request. :pray:

[2017-02-09 22:02] mattrobenolt commented on #54
sigh part of the way this project works is it's possible for you to link to whatever files you want as a source of rules. A bump here isn't a requirement. You can set the `UA_PARSER_YAML` environment variable and point it to whatever file you want.

https://github.com/ua-parser/uap-python/blob/master/ua_parser/user_agent_parser.py#L449-L450

There is a reason why this isn't 100% in sync all the ti

[2017-02-09 23:12] asalant commented on #54
Ah, that's super helpful. Would be a good addition to the README to help reduce nagging from folks like me.

I'm fine with going that route for now. It does leave the "fix" that I contributed in a halfway complete state but it will get resolved the next time you sync with aup-core.

[2017-08-08 23:06] jogo opened #55 "use larger LRU cache for user_agent_parser?"
https://github.com/ua-parser/uap-python/blob/6247d697a97d81eb77b3970f48bac2ad80692593/ua_parser/user_agent_parser.py#L219

Instead of using the built in cache for 20 values, that gets cleared out if it's too big, we are using a lru cache of 1000 values. This has reduced the time it takes for user_agent_parser to run (when tested over 100,000 real user agents) by about 3x, and appears to use less t

[2017-08-08 23:18] mattrobenolt commented on #55
If you'd like to submit a PR for a full LRU implementation, that'd be fine to me. If we do that, it'd be nice to have it configurable since I might not want to waste 1MB of RAM or whatever.

[2017-08-08 23:31] jogo commented on #55
I'll post a PR tomorrow based on https://pypi.python.org/pypi/backports.functools_lru_cache (as recommended by http://python-future.org/imports.html)

[2018-01-12 17:54] mattrobenolt commented on #54
So here's the current dilemma updating to latest master ua-parser/uap-core@878312901668097820672351015ecb10796bdcb4

[code]

So will need to investigate why this test now fails. :(

[2018-01-12 18:49] meagerman commented on #54
I found a relatively painless way to integrate the latest yaml into my build. I just downloaded the rules and committed it in a static directory that gets deployed with my project, and referenced it using a relative path like this before importing `ua_parser`:

```os.environ['UA_PARSER_YAML'] = os.path.join(os.path.dirname(os.path.dirname(__file__)), 'static', 'user_agents.yaml')```

Works well en

[2018-03-09 14:08] panther7 commented on #54
Hello, please update to latest (June 2017 or newer). Thanks.

[2018-03-23 11:32] ondras commented on #54
@mattrobenolt please, what is the status with this? We are currently unable to use uap-python from pip due to old regex definitions...

[2018-03-26 12:13] ondras commented on #54
The fix is ready to be merged in https://github.com/ua-parser/uap-python/pull/59 .

[2018-04-09 17:05] mattrobenolt commented on #54
Fixed by 0.8.0 https://pypi.org/project/ua-parser/0.8.0/

[2018-04-09 17:05] #54 closed

[2018-04-29 20:35] sursu opened #61 "Browser family error?"
Take the following User Agent instance:
`'Mozilla/5.0 (Linux; Android 5.0.2; SM-T535 Build/LRX22G; wv) AppleWebKit/537.36 (KHTML, like Gecko) Version/4.0 Chrome/50.0.2661.86 Safari/537.36 [FB_IAB/FB4A;FBAV/77.0.0.20.66;]'`

Place that in a variable `ua`, then:

`user_agent_parser.ParseUserAgent(ua)`

says that the browser family is 'Facebook'.

I have never heard of such a browser family.

Is this

[2018-05-28 12:48] wjmj opened #62 "ModuleNotFoundError: No module named 'ua_parser._regexes'"
Hello,

I try to install ua-parser using 'pip install ua-parser' and manual install(python setup.py install), however, both issued the same error: ModuleNotFoundError: No module named 'ua_parser._regexes'. The following is the detail error message after I install ua-parser use pip.

Python 3.6.1 |Anaconda 4.4.0 (64-bit)| (default, May 11 2017, 13:25:24) [MSC v.
900 64 bit (AMD64)] on win32
Type "h

[2018-06-20 03:20] Zjion commented on #62
It happened to me. After running `python setup.py install`, you will get something like

`running build`
`running build_regexes`
`running build_py`
`...`

if you look at the setup.py code, the program is supposed to parse the regexes.yaml file in uap-core to write a regexes.py file which is the module you are looking for.

You do not have this file because the `run` method returns after

`if not o

[2018-06-26 05:10] zrothberg commented on #61
just scrolling through and saw this
it means its on the facebook apps internal browser

[2018-06-29 08:01] #61 closed

[2018-06-29 09:17] wjmj commented on #62
Thanks for your help, although I decided to use another ua parser.

[2018-08-01 13:53] scarabeusiv opened #63 "Repository lacks license"
As per $SUBJ the pypi sdist tarball does not contain license file nor the repository.

Even if you forked you still need to ship a license file (in this case I guess Apache-2.0) within the repo and the archive.

[2018-09-19 07:57] Harpsichord1207 opened #64 "Problem of parsing Edge's user-agent"
A user-agent of Edge is
[code]
 The parsed result of browser version is `{'major': 15, 'minor':15063}`, and I parsed the same ua in the following website [whatismybrowser](https://developers.whatismybrowser.com/useragents/parse/#parse-useragent), it returnd `Edge 40`， and I found that 15 is the Layout Engine Version and 40 is Software Version, maybe return Software Version is better.
Forgive my po

[2018-09-21 00:36] brooksc opened #65 "Misleading result"
I was confused by this user agent so tried the library...

[code]
Apparently this isn iPhone running Android!

Feeding the same string into https://developers.whatismybrowser.com/useragents/parse/#parse-useragent tells me this is Chrome 30 on iOS.

[2018-11-27 13:32] polischouckserg opened #66 "Not detecting Instagram app"
Actually, this is a user agent for Instagram ios app:

`Mozilla/5.0 (iPhone; CPU iPhone OS 12_0_1 like Mac OS X) AppleWebKit/605.1.15 (KHTML, like Gecko) Mobile/16A404 Instagram 72.0.0.20.101 (iPad6,11; iOS 12_0_1; ru_RU; ru-RU; scale=2.00; gamut=normal; 750x1334; 131642248)`

It has app name, but the result of `user_agent_parser.Parse(ua_string)` for this:

[code]

But `'family': 'Instagram'` is

[2018-12-28 07:56] pkqxdd opened #67 "Incorrect Parsing for Keyword HTTP"
When parsing UA string of `HTTPie/0.9.9`, `user_agent_parser` reports it as a "Generic Feature Phone", even though it's obviously not a phone.

[2019-01-14 14:40] polischouckserg commented on #66
@mattrobenolt can we update uap-core submodule in this repo?

[2019-01-21 14:25] SrdjanNikitovic opened #68 "uap-core pointing to 10 month old commit"
Hello there.

We have a problem that new user agents are not parsed correctly in Python.
After looking investigating the regexes.yaml file, we see that Python library is pointing to a 10 month old commit of uap-core, but the most recent version of uap-core is 10 days old.

Is there a reason why old uap-core is used, or we can use the new one?

[2019-01-29 09:17] polischouckserg commented on #68
Hi @SrdjanNikitovic, we have forked this repo and updated uap-core [here](https://github.com/admitad-github/uap-python/commit/16b7615619786a9428b2ac0e55f5d0f23bdd63d2). You can do the same or use our fork.

Related [issue](https://github.com/ua-parser/uap-python/issues/66).

[2019-01-29 09:19] polischouckserg commented on #68
#66

[2019-03-09 02:57] bt-wil opened #71 "Slowness in parsing user agent"
Some user agent strings are causing the user agent parser to be really slow.

[code]

* v0.7.3 took ~0.05s
* v0.8.0 took ~7.0s
* v0.8.0 took ~110s! with `AppleWebKit/<400 digits>`

The notable change was updating `uap-core` gitsubmodule from `ce89c7637eeeb07b3464dbf40645bb3973723c0a` to `fc570f378e41063bad3bdf0532967743efc75b4b`

After digging around, I've found that the issue is due to the regex

[2019-05-08 20:53] sjzabel commented on #68
https://github.com/soon/uap-python-next it looks like this project/package may have done the same

[2019-05-08 20:55] mattrobenolt commented on #68
Good to see that @soon attempted to contribute back the changes needed. I stopped bumping commits from uap-core because tests started to break, and I don't have the bandwidth or capacity to fix them. Bumping versions is trivial and I was doing them regularly until it started to break tests.

[2019-05-21 20:38] polischouckserg commented on #68
@mattrobenolt there is PR #70 with fixed tests and updated uap-core and it's waiting to be merged.

[2019-06-12 03:25] veevidify opened #72 "user_agent_parser.Parse can't get versions that are not in format {major}.{minor}.{patch}"
Python version: `Python 3.7.1`
ua-parser version: `ua-parser==0.8.0`

REPL:
[code]
Output:
[code]
Expected:
[code]

User Agent string generated by Android 9 devices doesn't follow the format `{major}.{minor}.{patch}` e.g. `Android 9.0`, instead just give `Android 9`, which cause the parser unable to recognise its version.

[2019-08-13 22:17] Matt343 commented on #68
Now that the PR has been merged, what do we need to do to get a release created and pushed to pypi?

[2019-08-17 05:29] admitad-github commented on #68
Only maintainers have rights to create a release and push it to the PyPI.
@mattrobenolt @selwin can you please do this?

[2019-08-17 13:29] mattrobenolt commented on #68
I’ll take a look at this today and see what’s involved at this point. I’ll try to get a release tagged and uploaded today.

[2019-09-06 22:09] yesthisisjoe commented on #68
Any updates making a new PyPl release? There is a key uap-core fix that my team would be interested in receiving via the update.

[2019-09-11 19:01] Maggers commented on #68
Thanks @mattrobenolt - I'm on the Edge engineering team (Chromium based Edge) and we're watching this update closely too as it's impacting users of our Canary, Dev and Beta channels. Would love to see this tagged and uploaded for downstream adoption. Thanks! - Jason

[2019-09-12 05:32] soon commented on #68
Just FYI for everyone waiting for pypi release: I've forked this repo a while ago and deployed to pypi: https://pypi.org/project/ua-parser-next/. It contains the most recent changes from uap-core, passes all tests and allows to pass custom device parses in case if uap-core is not currently supporting them (I needed to parse a new samsung device). The package was renamed to `ua_parser_next` in orde

[2019-09-16 14:11] ottomata opened #75 "Consistent and immutable versioning"
Hello!

It would be nice if the python package version changed when the linked uap-core submodule was updated.  uap-core has been updated several times in master since 0.8.0 has been released.  Is there an intention to 'release' a new version of uap-python?

[2019-10-11 16:24] rbart opened #76 "user_agent_parser.Parse hangs on certain malformed inputs"
user_agent_parser.Parse seems to hang forever on certain malformed UA strings.

Repro:
[code]
(Note the large amount of whitespace.)

[2019-11-12 19:14] miketaylr opened #78 "Update uap-core submodule to 0.6.10"
A fix for detecting Edge (Chromium) as Chrome is in version 0.6.10. Would it be possible to update the submodule and cut a new release please?

[2020-01-07 20:30] mmaday commented on #76
Another repro, on this malformed long string:

[code]

A cheap fix would be to check the length, but that won't solve the original reported issue.

[2020-01-09 00:40] elsigh commented on #75
Agree it would be nice! As a maintainer, but not a user/needer of this package I would love someone to volunteer to do the releases etc.. maybe you're up for it?

[2020-01-09 00:41] elsigh commented on #68
@soon I would be happy to make you a maintainer/dev on this repo and then you could update from here? I'm a maintainer but don't depend on or use this repo so..

[2020-01-09 00:41] mattrobenolt commented on #75
I can easily do it if master is green. For the longest time is was broken if we bumped uap-core, and I didn't want to invest the time to figure out why. So if we're all green now, it's easy for me to just tag and upload.

[2020-01-09 00:42] elsigh commented on #78
this is not relevant as I merged #79

[2020-01-09 00:42] #78 closed

[2020-01-09 00:42] elsigh commented on #68
Also since I merged #79 I think this particular issue is now moot (but not the overall/future issues)

[2020-01-09 00:42] #68 closed

[2020-01-09 00:45] mattrobenolt commented on #75
Also fwiw, Sentry (https://github.com/getsentry/sentry) still depends on this library and we use it heavily, so we do have vested interest in keeping it going. We've just apparently not had any issues or complaints for the latest version.

I also feel like, this would be valuable as some calver versioning scheme since semver doesn't really make sense if all we do is bump a sub repo periodically.

[2020-01-09 00:56] #66 closed

[2020-01-09 00:56] elsigh commented on #64
this is a uap-core issue, and I think irrelevant now

[2020-01-09 00:56] #64 closed

[2020-01-09 00:56] elsigh commented on #46
just closing cuz old

[2020-01-09 00:56] #46 closed

[2020-01-09 00:57] elsigh commented on #62
just closing cuz old

[2020-01-09 00:57] #62 closed

[2020-01-09 00:57] elsigh commented on #72
this strikes me as a uap-core issue

[2020-01-09 00:57] #72 closed

[2020-01-09 00:58] elsigh commented on #71
maybe this is fixed now?

[2020-01-09 00:58] #71 closed

[2020-01-09 00:58] elsigh commented on #76
want to send some kind of whitespace pr?

[2020-01-09 00:59] elsigh commented on #75
I'm open to whatevs =) Since you depend on it I'd prefer you to have it serve your (and Sentry's needs)

[2020-01-10 14:39] jw opened #81 "Why is there a pyyaml setup-required in setup.py?"

[2020-01-10 14:40] #81 closed

[2020-01-16 15:28] heyman opened #82 "New PyPI release?"
Thanks for a useful library!

I noticed that a lot has happened in this repo since the last PyPI release (april 2018). Would it be possible to cut a new PyPI release?

[2020-01-18 13:00] soon commented on #68
@elsigh Thank you, will be happy to help

[2020-01-29 13:03] karls commented on #82
I left a comment on an issue for `selwin/python-user-agents`, which uses this library: https://github.com/selwin/python-user-agents/issues/92#issuecomment-579740728.

[2020-02-04 09:03] einhorntee commented on #68
@soon sorry to bother you, but do you know when you'll be able to release the new version?
If you don't have the resources in the next couple of weeks, I'd be happy to help out as well.

[2020-02-04 16:25] soon commented on #68
@einhorntee I don't have access to this repo and I'm unable to release it. But I just checked, my fork (https://github.com/soon/uap-python-next) points to the latest commit in master in uap-core. So if switching to fork is an option you can try it

[2020-02-04 16:30] mattrobenolt commented on #82
I have pushed 0.9.0. https://pypi.org/project/ua-parser/0.9.0/

[2020-02-04 16:30] #82 closed

[2020-02-04 16:31] mattrobenolt commented on #68
I have pushed 0.9.0.

https://pypi.org/project/ua-parser/0.9.0/

[2020-02-04 16:34] karls commented on #82
Super! Thanks @mattrobenolt!

[2020-02-10 00:53] karlcow opened #84 "firefox tablet parsing fails"
* UA parser: 0.8
[code]

* UA parser: 0.9

[code]

I'll see if i can submit a pull request for this. :)

the device part of the dictionary is off.

[2020-02-10 05:23] karlcow commented on #84
[code]

[2020-02-10 06:25] karlcow commented on #84
opened
Issue: https://github.com/ua-parser/uap-core/issues/461
PR: https://github.com/ua-parser/uap-core/pull/462

[2020-02-27 00:08] mattrobenolt commented on #63
Is this not sufficient? https://github.com/ua-parser/uap-python/blob/master/ua_parser/LICENSE

[2020-02-27 00:09] mattrobenolt commented on #63
Pretty sure it is with https://github.com/ua-parser/uap-python/pull/58

[2020-02-27 00:09] #63 closed

[2020-02-27 00:10] mattrobenolt commented on #76
If I had to speculate, this is related to this: https://github.com/ua-parser/uap-python/pull/86

If this continues though, there's not much we can do in this repository and the regex pattern needs to be fixed in uap-core.

[2020-02-27 00:10] #76 closed

[2020-02-27 00:11] mattrobenolt commented on #84
Closing here since there's not much we can do in this repo, if uap-core is updated, we perioidcally update that submodule.

[2020-02-27 00:11] #84 closed

[2020-02-27 00:12] mattrobenolt commented on #65
Just going to defer to uap-core here since this is out of our control within this library. All the rules come from there.

[2020-02-27 00:12] #65 closed

[2020-02-27 00:13] mattrobenolt commented on #67
This isn't an issue with this repository, I'd suggest opening an issue with [uap-core](https://github.com/ua-parser/uap-core) since that's where all the rules come from.

[2020-02-27 00:13] #67 closed

[2020-02-27 00:15] mattrobenolt commented on #55
I am going to close this since I still disagree with this existing within uap-python. If you want better caching or LRU logic, it's trivial to add that into your application. I think this could be expected behavior and a waste of RAM for users who are conscious of this.

[2020-02-27 00:15] #55 closed

[2020-02-27 00:26] mattrobenolt commented on #75
I think I'm going to be updating this to calver this week. It's a trivial change, but then I can better automate just bumping versions monthly or on some more regular cadence. Might even play with writing a bot to do it. Probably won't though since I'm lazy, but should make it easier all around to keep more up to date.

[2021-01-27 12:45] OdifYltsaeb opened #89 "uap-python does not parse current apple phone information from ua strings"
[code]
Even though the information is there, the exact model is not picked up, unfortunately.

Thank you for the work you've put into this project btw :)

[2021-02-05 00:08] chapinb opened #90 "Case insensitive parsing"
Thank you for this great utility! I wanted to share some feedback and offer to take on the contribution to work on it if you're open to that.

I did a quick search of prior issues and didn't see anything related. Please feel free to link if it is a duplicate

I recently found that lower case user agent strings led to issues where data was not extracted/parsed properly. The below illustrates this:

[2021-02-05 00:39] mattrobenolt commented on #90
I would definitely argue this is related to https://github.com/ua-parser/uap-core itself. I don't know if this is even valid to assume a lowercase useragent is the same as one that isn't.

What case are you lowercasing these in the first place or why are they lowercased?

I'm going to close this issue since it definitely wouldn't apply here. We just use patterns from uap-core, and the patterns wou

[2021-02-05 00:39] #90 closed

[2021-02-05 02:08] chapinb commented on #90
Thanks for the quick response! The use case here is that we have the web server log data ship in to Elasticsearch, which is processing the data in a case insensitive manner. We then query against the stored log data, parse it using this library, then supplement the existing records with the extracted attributes. I was able to resolve this issue by using the title case method on the user agent stri

[2021-03-15 19:10] dgoldstein0 commented on #75
any updates here?

[2021-05-08 09:47] ThiefMaster opened #93 "Make the API more pythonic (snake_case function names)"
Right now the whole API is using CamelCase which is extremely unpythonic. It would be nice if you could add snake_case alternatives, or even deprecated the old ones and eventuallt remove them.

[2021-10-31 20:04] Greenscreen23 opened #97 "ParseUserAgent, ParseOS and ParseDevice are not using the cache"
Hi,

I was using this library for a project recently, and was really surprised that `ParseUserAgent` was significantly slower than `Parse`. After digging a bit into the code, I think this is because `ParseUserAgent` is not using the internal cache, whereas `Parse` is.

As both methods are documented in the README, I was expecting both to have similar performance, with `ParseUserAgent` being a bit

[2021-12-09 13:58] markdepalma opened #98 "Using newest regexes.yaml yields an error when loading module"
This is being done on a Windows machine in a PowerShell session. See repro and error below:

[code]

When manually stepping through code I saw that the file was being opened using 'cp1252' encoding by default. Adjusting the code so that the open handle is created as binary resolves the issue.

Line 480 of user_agent_parser.py with fix:
`with open(UA_PARSER_YAML, 'rb') as fp:`

[2022-01-16 14:21] jace opened #100 "uap-core needs update"
Snyk is flagging uap-python as insecure because it refers to an outdated version of uap-core with a known ReDoS vulnerability. The submodule needs to be updated. https://snyk.io/advisor/python/ua-parser#security

[2022-02-17 12:25] abdelwahebmoalla commented on #100
is the project still maintained ?

[2022-04-26 18:31] masklinn commented on #93
That matches my sensibilities, plus since the namespacing is a bit odd it should be easy to put a new API at the root of `uap_python`. I'll have to familiarise myself with the feature coverage (what's a useful part of the API, what's just incidental, ...) and get the project in a better shape before working on that though.

[2022-04-26 18:33] masklinn opened #102 "Run tests with `UA_PARSER_YAML`"
Otherwise it bitrots, as demonstrated by #99

[2022-04-26 18:44] masklinn opened #103 "Add pyyaml as an optional extra"
Currently, the dependency on pyyaml is a bit schyzophrenic:

- it's in `requirements.txt`, which doesn't really explain what's what and is not used for normal installations
- it's in the `setup_requires` of `setup.py`, which is for build-time dependencies

This means it will *not work* by default, the install will work then the import will fail when trying to load the yaml file.

Packaging thingie

[2022-04-27 08:25] xmo-odoo commented on #97
Adding a warning to the readme sounds like a good idea, the current caching behaviour is *really* basic (similar to the old lru cache, the cache is just nuked when full), as well as quite small (20 entries by default), so it would need to be updated more fundamentally to use either a FIFO replacement (which is [what `re` now does](https://github.com/python/cpython/issues/72480)), or an LRU.

A goo

[2022-04-27 14:43] masklinn commented on #97
@Greenscreen23 could you explain how you were using things? Did you explicitly bump up the cache size when using the library? With how small the cache is and the rough replacement policy I wouldn't have expected "significantly" performance degradation.

[2022-04-27 17:07] Greenscreen23 commented on #97
@masklinn I stumbled across this when we had to parse a dataset in one of my courses at the univerity. We had to parse a logfile with ~300.000 user agents, most of them being identical (real world data set). Here are the times I measured with the differnt functions:

Using Parse(ua_string)['user_agent]:
real    0m4,845s
user    0m4,813s
sys     0m0,027s

Using ParseUserAgent(ua_string):
real    1m

[2022-04-27 18:33] masklinn commented on #97
Cool, yeah that is significant indeed. Is the dataset public per chance? Is it some sort of log file collected over some period of time? Might be interesting both as a way to build up plain benchmarks, and as a way to investigate changes to caching on something of a real-world dataset.

[2022-04-27 18:37] masklinn commented on #97
And thinking about it more, it does make a lot of sense if the logs are "raw" and each page hit from a given visitor is an entry, identical entries would tend to cluster significantly, meaning even the small cache and simplistic eviction strategy would be helpful. Even more so if you decided to just sort the UAs before processing them.

[2022-04-27 18:42] Greenscreen23 commented on #97
It's not public as far as I know and I don't think it will be published. It looks like it was collected on demo servers to include as many interesting user agents, but there are still quite a lot of duplicates and "real world traffic".

[2022-04-27 20:06] masklinn commented on #97
TIL github goes and find "fixes" stanzas in PR descriptions as well as commit messages? That's weird.

[2022-04-28 20:04] masklinn commented on #100
Maybe. @elsigh has kindly accepted to give me write access to the repo, I've started updating a few things (e.g. restoring CI), I hope to release a 0.15 (with the matching update of -core) soon-ish.

[2022-04-30 11:11] #100 closed

[2022-04-30 11:33] masklinn opened #110 "Investigate typing and mypyc"
Glyph makes a case for using mypyc in order to build binary wheels / accelerators (?) https://glyph.twistedmatrix.com/2022/04/you-should-compile-your-python-and-heres-why.html

Might be interesting to take a look at it, probably related to or after #93 as a replacement or improved API would be more likely to help with the typing necessary.

However:

- at the end of the day ua-parser is probably m

[2022-05-01 17:47] #97 closed

[2022-05-02 19:59] masklinn commented on #89
Hello Alan, sorry for the delay in looking at your issue.

I... don't think the exact model is available in the UA string? Nothing jumps out to me helping there, and ["competitors"](https://developers.whatismybrowser.com/useragents/parse/) don't seem to see any more information.

Either way, if it were possible to get more precise hardware information from this UAS (which again I don't see), this

[2022-05-03 07:47] OdifYltsaeb commented on #89
Hehe :) Thank you for the reply. It's been a while since I worked on that project. I kind of thought that based on the OS version, you could also guess the model - i think

[2022-05-03 19:56] masklinn commented on #89
I wouldn't think so. iOS 12 was installable on all phones from the 5S to the XR, so at best you could say "it's any of those 14 models" but... that's no more information than "iOS 12" gives you in the first place.

[2022-05-04 05:45] OdifYltsaeb commented on #89
Right. Perhaps that's then something we should have fixed the other way around then.

Back then, we used your project as a part of the data gathering & fingerprinting app. We actually had the screen size and other information about the devices too. Guess we should have combined everything, and then we probably would have been able to provide better information. Anyway - that ship sailed a long tim

[2022-05-04 05:45] #89 closed

[2022-05-04 08:32] masklinn commented on #89
Yeah that sounds like it could have provided better precision with respect to devices, screen size would have done a bit and depending on the additional info you might have been able to pinpoint devices a lot more, at least for apple ones.

Sorry I couldn't help.

[2022-05-05 09:18] masklinn opened #118 "Random CI failures on 3.11a7"
See yaml/pyyaml#630

Doesn't seem worth wasting too much time on it: usually it works, sometimes it doesn't.

[2022-05-05 15:54] masklinn opened #120 "Update packaging to *bleeding edge*"
That may or may not be a bad idea, but it at least sounds pretty interesting.

Basic resources:
- https://packaging.python.org/en/latest/tutorials/packaging-projects/
- https://pip.pypa.io/en/stable/reference/build-system/pyproject-toml/
- https://setuptools.pypa.io/en/latest/userguide/pyproject_config.html

The biggest issue with this plan is without a doubt the precompilation of yaml to regex. I

[2022-08-10 17:05] risto42 opened #121 "setup.py install broke - because of yaml 6.0"
`setup_requires=["pyyaml ~= 5.4.0"]` is no longer valid

[2022-08-10 19:14] masklinn commented on #121
Could you explain what issue you're observing in more details?

PyYAML 6 was release almost a year ago, and even if you're running on a platform or version of Python which doesn't have binary wheels for 5.4, the pure python wheel works fine (it's just slower).

And it's only used for the compilation of the package, in order to provide a static `_regexes.py` file, the ua-parser wheel should be univ

[2022-08-10 19:59] risto42 commented on #121
can't install via AUR on arch... pip is not an option.

[2022-08-10 20:06] risto42 commented on #121
builds fine with 6.0, but breaks because of the version restriction and no way to run pip...
[code]

[2022-08-13 10:29] masklinn commented on #121
Right, ok. I can probably just remove the bounds for `install_requires` (pending an eventual overhaul of the packaging), I'll need to find how to coerce tox into testing that situation but it ought be possible.

[2022-08-14 10:25] nadav-levl opened #122 "Cache exception"
Did anyone encounter this error?

[code]

[2022-08-14 10:32] masklinn commented on #122
Hello, would it be possible for you to show how you're invoking `Parse`, and maybe print the parameters you're providing?

Given the way `_lookup` is constructed, the most likely issue is that you're passing a `list` as the user agent string (or as one of the keyword parameter values).

[2022-08-14 11:14] nadav-levl commented on #122
It was running on a huge amount of data and happened from time to time so its a bit hard to investigate it.
anyway, maybe Parse should enforce casting to string. this is how I'm going to fix it for now.

[2022-08-14 11:47] masklinn commented on #122
If you're modifying the caller code to convert the input to string, it would probably make sense to log non-string inputs as well.

I don't think that makes much sense, and I'm not generally fond of "fuzzy" APIs.

Asserting that the input is a string, with a clear error message, would make sense. Though I don't know that it would help you much here.

[2022-08-15 09:09] nadav-levl commented on #122
thx!

[2022-08-15 09:09] #122 closed

[2022-08-16 19:17] boatcoder opened #124 "0.10.0 recognized the twitter bot but 0.15.0 does not"
[code]
This is no longer detected as `is_bot`

Maybe because of this not containing Facebot:
https://github.com/ua-parser/uap-core/blob/417c38ee44b9197d718d6663122882aa9e61a9b0/regexes.yaml#L124

[code]

While parsing, these are the pieces that are found:
[code]

[2022-08-17 15:40] boatcoder commented on #124
I'm not sure if this had to do with a dirty cache.....

[2022-08-17 15:40] #124 closed

[2022-08-18 19:06] masklinn commented on #124
Hello @boatcoder, regardless of whether the issue turns out to be a cache or a genuine error, issues with the regexes.yaml data should be reported to ua-parser/uap-core, ua-parser/uap-python simply provides an interface to that.

Unless it's that we're using an outdated version of the data file, and I see I'll have to update that to 0.16.

[2022-08-20 14:16] #121 closed

[2022-08-20 15:13] #118 closed

[2022-08-20 15:15] masklinn commented on #121
@risto42 seeing as I don't know anything about arch, are you able to test a development version to see if that fixes the issue? I've relaxed the setup_requires again to take whatever is available, but I'd rather you confirmed it works before I cut a release.

[2022-08-20 15:15] masklinn opened #129 "Update uap-core to 0.16"
But first wait for an answer to #121 and cutting 0.15.1.

[2022-08-20 15:31] risto42 commented on #121
just tested the setup.py part of the patchset, builds/installs fine.
+1 for release.

[2022-08-21 17:07] #129 closed

[2022-08-21 17:28] masklinn commented on #75
@dgoldstein0 since this issue was opened the project has pretty much been following the request (of matching uap-core's version) so I'll close this.

Eventually I'd like to decorrelate the two (so updates to the library can be correctly reflected in its version number, especially as I'd like to eventually release a 1.0) but I've yet to see a scheme which made sense. I'm not too fond of calver, let

[2022-08-21 17:28] #75 closed

[2022-08-21 20:08] dgoldstein0 commented on #75
Yeah.... I have yet to see any good handling of multiple versions in one version number either.  The typescript ecosystem especially has this problem, where npm package foo may have a corresponding @types/foo package.  Typically the @types/foo and foo packages share a major version number but get out of sync in the minor versions.  As a result, @types/ packages don't really follow semver semantics

[2022-08-23 18:40] michael-a-green opened #132 "`_lookup()` generates `KeyError` exception"
Method `user_agent_parser::_lookup()` generates a `KeyError` exception at line 237 in `uap-python/ua_parser/user_agent_parser.py`. Not all callers of this method can handle the exception.

It would be better if line 237 was this:

[code]

I'll send a pull request. Please let me know if you need more info.

[2022-08-25 17:50] masklinn commented on #132
I'm a bit confused as to how you hit this error, and neither this nor #133 explains the error conditions.

The code should be popping the first key found in the map, and said map should have items otherwise the condition shouldn't trigger. Are you setting `MAX_CACHE_SIZE` to a value below 1?

[2022-08-26 00:43] michael-a-green commented on #132
Hi @masklinn ,

No I did not modify `MAX_CACHE_SIZE` from what it's set to in the original code.

It's clear based on the definition of the `pop()` method for python dictionaries that without a default value, an exception will be thrown if the key doesn't exist in the dictionary. So I figured this is just increasing the robustness of the code irrespective of how the condition came about.

Please l

[2022-08-26 00:46] mattrobenolt commented on #132
It could theoretically be triggered with a race condition with multiple threads. I would just personally use None as the default value tho. Or a try..except KeyError, but it doesn't particularly matter.

It's just 100% possible to trigger this with multithreading.

[2022-08-26 01:01] michael-a-green commented on #132
OK, should I change it to return `None`?

[2022-08-26 01:30] mattrobenolt commented on #132
Right, the race condition is between iterating (reading) the keys of the dictionary, and deleting. So if 2 threads are using this library at the same time, and once you read capacity, the idea of "removing the top one" is going to be contending for that spot and threads are going to both be trying to remove the top.

Overall, I think using a dict here is less than idea because of this. The max siz

[2022-08-26 01:33] mattrobenolt commented on #132
I guess I didn't answer your question directly, it doesn't really matter, since this fix isn't fixing the underlying problem. So it's relatively insignificant. It'll stop the KeyError, but instead you're just going to consume potentially infinite memory.

[2022-08-26 15:22] masklinn commented on #132
Good point, I guess I just didn't really consider that factor.

This version is actually also stolen from the stdlib, though it does use `del` rather than `pop` (which saves one opcode, maybe?) and does wrap the entire thing in a try/except:
[code]

That is very much something I'd want to do, but 0.x still supports 2.x so it wasn't an option.

I definitely should have used odict though (similar to

[2022-08-26 17:54] mattrobenolt commented on #132
Yeah, that's interesting. I didn't realize it changed in stdlib, but yes, I'd agree that `del` is likely faster than pop if the case is more likely to succeed rather than fail, which in this case, it is.

I'd uhh, look into dropping that, or bump rev and drop it. 2.x is officially EOL'd for a while now.

Yeah, I think without ordereddict, since you're trying to support 2.x, this actually is less t

[2022-08-26 17:55] mattrobenolt commented on #132
Or alternatively, do a different cache implementation based on checking python version, and do it how it was for 2.x and use lru_cache if it's available.

Something like:

[code]

And do whatever differently.

[2022-08-27 10:26] masklinn commented on #132
Yeah I'm going to revert to just clearing the entire thing, without a good dataset to bench on it's hard to know what the tradeoff is between the potential extra misses from that, and the potential extra work from a big lock.

[2022-08-27 11:58] masklinn commented on #120
- managing artifacts using raw PEP 517 builders seems ill defined and quite unclear / ill-defined / non-standard, it looks like a pluggable frontend like [Hatch](https://github.com/pypa/hatch) might be a better idea
- hatch does support package-local plugins, it calls them "custom"
- hatch has existing plugins with a similar role (e.g. cython) which should serve as inspiration

[2022-08-27 12:24] masklinn opened #137 "Create github workflow for releases"
The release workflow is not super impossible but it's a bit annoying:

- PR to bump version
- merge PR
- fetch result
- tag commit commit
- push tag
- twine

Doing that via a workflow *could* be easier, and less reliant on just remembering stuff (and thus forgetting it). It would also make the addition of more release tasks (e.g. github releases?) simpler.

It looks like GHA supports some number o

[2022-08-27 14:24] #132 closed

[2022-08-31 10:48] DenizKucukozturk opened #141 "Snyk Security Vulnerabilities"
Snyk is flagging uap-python as insecure because of Regular Expression Denial of Service (ReDoS). Here it can be seen https://security.snyk.io/package/pip/ua-parser/0.16.1. Regex should be updated I guess

[2022-08-31 15:46] masklinn commented on #141
Unclear what the issue is. As far as I can tell it seems to be ua-parser/uap-core#495 but that should be fixed since the release of 0.15 in May.

Either way, unless there are specific mitigations to implement (or the issue is specifically caused by Python's regex engine)  uap-python is "just" a frontend to uap-core's regex set, issues should be reported over there.

[2022-08-31 17:03] geoffblack opened #142 "UserAgentParser does not support patch_minor, but patch_minor is supported in uap-core"
The string 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/41.0.2272.104 Safari/537.36' should parse out to
[code]
but, instead, we get:
[code]
User Agent `patch_minor` is already supported in uap-core; see https://github.com/ua-parser/uap-core/issues/22 and https://github.com/ua-parser/uap-core/pull/322/ for an example.

`UserAgentParser.Parse` and `_

[2022-09-21 07:04] betterlch opened #143 "Use better cache?"
Consider to use LRU cache or other better algorithm to replace MAX_CACHE_SIZE dict to avoid clear cache when the cache length achive to MAX_CACHE_SIZE

[2022-09-24 12:01] #141 closed

[2022-09-24 12:14] masklinn commented on #143
Thanks for the feedback.

That is definitely a goal as I'm not a fan of the current strategy either, I tried moving to [a more fifo-ish strategy inspired by the stdlib earlier this year](https://github.com/ua-parser/uap-python/pull/113) but [it was broken under concurrent usage](https://github.com/ua-parser/uap-python/issues/132) so reverted to the older policy (also because the fifo property didn

[2022-09-24 13:59] 1170301013 commented on #143
As you say, I'm just using py2.7 now, I have a little data set, but it's internal so I'm sorry that I cat't provide it to you. I tried to write and use a simple LRUCache in my work, it's just look like this:
[code]
This code work in a single thread/process, I don't know if it's suitable to use it in multi thread/process. Maybe need to use a lock to keep safe like:
[code]
I have just using python f

[2022-10-24 08:57] EdwardBetts opened #144 "Build fails with setuptools 65.5.0"
[code]

Here is the bug in the Debian bug tracking system: https://bugs.debian.org/1022474

[2022-11-01 19:18] masklinn commented on #144
@EdwardBetts heya, sorry for the delay replying.

I can not reproduce the issue, even after updating setuptools to 65.5.0:
[code]
Furthermore the bespoke command class (`build_regexes`) extends `distutils.core.Command` while the rest extend the corresponding setuptools commands (in order to run the regex build), unless setuptools has broken their own command classes that seems unlikely. Which vers

[2022-11-02 11:46] EdwardBetts commented on #144
Python 3.10.8

I'll keep looking and try and work out why it isn't working on my machine.

[2022-11-02 17:11] masklinn commented on #144
The warning seems to be emitted by https://github.com/python/cpython/blob/3.10/Lib/distutils/dist.py#L543-L547 so the superclass it expects is [`distutils.cmd.Command`](https://github.com/python/cpython/blob/3.10/Lib/distutils/dist.py#L526-L527), might be useful to run under pdb (or some other debugger) and try to set a breakpoint, in order to see what `cmd_class` it's receiving.

[2022-11-07 16:30] masklinn opened #146 "Versioning change (for API update)"
Aside from actually designing the API, that's probably the biggest issue with #93 (#116): how to update the version?

Per #75 it's clearly important to have a good versioning scheme, and to reflect the version of ua-parser/uap-core since that's, well, the core.

But [PEP 440](https://peps.python.org/pep-0440/) doesn't really provide a multi-versioning scheme:
- [local versions](https://peps.python